# --- Core Data Science Stack ---
pandas
numpy
scipy

# --- Machine Learning Engines ---
scikit-learn
xgboost
tensorflow

# --- External APIs & Data ---
openml

# --- UI & Experience ---
streamlit
colorama
tqdm
rich
fastapi
uvicorn
python-multipart

# --- System Utilities ---
joblib

imblearn